
.rating__container {
    /* max-width: 50%; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.star {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: grey;
    border-radius: 50%;
}

.star:hover {
    background-color: red;
}

.star.__selected {
    background-color: red;
}